<app-header></app-header>

<app-metadata [title]="principalKeys[0]" [metaData]="metaData" [metaKeys]="metaKeys"></app-metadata>

<h4>Chart Type </h4>
<select class="custom-select" [(ngModel)]="selectedCharType">
    <option value="" selected disabled hidden>bar</option>
    <option *ngFor="let char of charType" [value]="char">{{ char }}</option>
</select>

<chart [type]="selectedCharType" [data]="chartData" [options]="chartOptions"></chart>

<app-table [title]="principalKeys[1]" [timeSeries]="timeSeries" [timeKeys]="timeKeys" [tableTitles]="tableTitles">
</app-table>


<router-outlet></router-outlet>